.App {
  text-align: center;
}

body {
  background-color: #1F2833;
}

header {
  border: solid;
  margin: 1%;
  color: #85DDD7;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

a:visited {
  color: #85DDD7;
}

a:hover {
  color: white;
}

table { 
  border-collapse: collapse;
  margin: 1%;
}

th {
  color: #45A29E;
  padding: 10px;
  font-size: 25px;
}

tr:hover {

  border-style: none;
  transform: scale(1.35);

}

td {
  color: #C5C6C7;
  padding: 3px;
  font-size: 20px;
}

p {
  color: #72B4E4;
}

h1 { 
  color: #85DDD7
}

.center { 
  margin-left: auto;
  margin-right: auto;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.iconSize {
  font-size: 2em;
  margin: 3%;
}